{% extends "base.html" %}
{% block title %}Home Page {% endblock %}

{% block content %}
<h1>Company Lookup</h1>

<form method="post">
    <input type="text" placeholder="Enter ticker" id="companyInput" list="companyList" name="ticker">
    <button type="submit">Search</button>
    <datalist id="companyList">
        {% for company in companies %}
        <option value="{{ company }}">
        {% endfor %}
    </datalist>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

{% endblock %}